language: ruby
services:
- docker
cache:
- bundler
install:
- bundle install
rvm:
- 2.3.0
- 2.4.1
env:
  - GEM_NAME = sensu-plugins-disk-checks    

notifications:
  email:
    recipients:
    - jef@sensu.io
    on_success: change
    on_failure: always
script:
  - echo $GEM_NAME
  - bundle exec rake default
  - gem build $GEM_NAME.gemspec
  - gem install $GEM_NAME-*.gem
  - travis/build_bonsai_assets.sh
  #deploy:
  #  - provider: rubygems
  #  api_key:
  #    secure: MA9lRNkP7h07yWS10BZ6ZdlWNdgKB4UU5OyLiwM+IFB8uWMM/l5OsCThYkPPRTNCcGR6O2QaXukgKSz8TX+c3b/+ocMa2iJRnREIkH6/F0ujdmMmtVFFh8/lUdtlxdg3i7HqhjbhZgUNPbDUI5eVO72QAb4s20Idyw92kPEFBXU=
  #  gem: sensu-plugins-disk-checks
  #  on:
  #    tags: true
  #    all_branches: true
  #    rvm: 2.3.0
  #    rvm: 2.4.1
  #    repo: sensu-plugins/sensu-plugins-disk-checks

  #after_deploy:
  #- travis/build-assets.sh      
  #- travis/generate-sha512sum.sh
  #- travis/github-release-upload.sh github_api_token=$GITHUB_TOKEN repo_slug="$TRAVIS_REPO_SLUG" tag="${TRAVIS_TAG}" filename="dist/$(cat dist/sha512_file)"    

